* {
    font-family: Verdana;
}

body {
    margin: 0;
}

#lewy, #prawy {
    background-color: SeaGreen;
    color: white;
    line-height: 150px;
    height: 260px;
    font-size: 160%;
}

#lewy {
    width: 75%;
}

#prawy {
    width: 25%;
}

header {
    display: flex;
}

main {
    background-color: MintCream;
    padding: 80px;
}

#footer1,
#footer2 {
    width: 50%;
}

footer {
    background-color: SeaGreen;
    color: white;
    height: 70px;
    text-align: center;
    display: flex;
}

input, button {
    margin-bottom: 20px;
}

img {
    box-shadow: 15px 15px 10px DimGray;
}

a {
    text-decoration: none;
    background-color: MintCream;
    color: SeaGreen;
    padding: 15px;
    line-height: 70px;
}