* {
    font-family: Tahoma;
}

main {
    display: flex;
}

header, footer {
    background-color: SaddleBrown;
    color: white;
    padding: 3px;
    text-align: center;
}

#lewy, #prawy {
    background-color: Tan;
    height: 400px;
    width: 40%;
}

#srodkowy {
    background-color: Wheat;
    height: 400px;
    width: 20%;
}

img {
    margin-right: 20px;
    float: right;
}

h4 {
    text-align: center;
}

input {
    margin: 5px;
}

li:hover {
    background-color: sienna;
    color: white;
}

button {
    margin-left: 5px;
}